# Basically, the only interface is tied to network called 'HOMENET' for now,
# and DHCP is used to configure IPv4

0=HOME,dhcp

# TAP interface to the host so we can use e.g. Firefox.
1=tap,192.168.7.1,192.168.7.2

# give bit more memory in case it's needed by something
mem=64

# generate /etc/hosts entries with h- prefix
hosts=h-
