# Combination of BIRD + dhclient-based configuration, with dhclient 'on all interfaces', 
inherit=common,openwrt
#,dhclient-6rd,dhclient-pd,skv-6rd-pd
# not needed, should be part of hnet OpenWRT build
mem=64

