# ../.. = ttin directory
kernel=../../openwrt-uml-bin/openwrt-uml-vmlinux
model-fs=../../openwrt-uml-bin/openwrt-uml-ext4.img

# Use console 1 for i/o (-> control+c should work)
# and take console 0 output also to stderr
#append_con1=con=null
#append_con2=con1=fd:0,fd:1
#append_con3=con0=null,fd:2
#append_con4=console=tty1

# works given patches
#append_procd_debug=init_debug=9

# override preinit
#append_init=init=/sbin/preinit

append_root=root=98:0

0=HOME
1=ISP
